@page
@model IndexModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">About websoft</h1>
    <p>The exercise is regarding creating both console and web apps,
    and both should apps have the ability to fetch data from a JSON file.</p>
</div>
